{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "rules": {
    "array-bracket-spacing": "never",
    "brace-style": "1tbs",
    "camelcase": "always",
    "computed-property-spacing": "never",
    "curly": "multi-line",
    "eol-last": "never",
    "eqeqeq": "smart",
    "new-cap": true,
    "no-extend-native": 2,
    "no-mixed-spaces-and-tabs": 2,
    "no-trailing-spaces": 2,
    "no-unused-vars": 1,
    "no-use-before-define": ["nofunc"],
    "object-curly-spacing": ["never"],
    "quotes": ["single", "avoid-escape"],
    "semi": ["never"],
    "keyword-spacing": [{"before": true, "after": true}],
    "space-unary-ops": 2
  }
}
