.autojump
.bash_history
.bash_logout
.bundle
.cache
.composer
.gem
.histfile
.landscape
.local/
.motd_shown
.node_modules
.npm
.profile
.selected_editor
.sudo_as_admin_successful
.vim
.viminfo
.zcompdump
clones
download
downloads
neovim/
node_modules
